<launch>

  <include file="$(find srcsim)/launch/qual1.launch" pass_all_args="true"/>

  <!-- image rectification for left and right cameras -->
  <node pkg="image_proc" type="image_proc" name="image_proc_left" 
  	ns="multisense/camera/left"/> 
  <node pkg="image_proc" type="image_proc" name="image_proc_right" 
	ns="multisense/camera/right"/> 

  <!-- LED detectors for left and right camera -->
  <node pkg="patriot_robotics" type="led_detector_blob.py" 
	name="led_detector_blob_left" ns="multisense/camera/left">
    <remap from="image" to="image_rect_color"/>
  </node>

  <node pkg="patriot_robotics" type="led_detector_blob.py" 
	name="led_detector_blob_right" ns="multisense/camera/right">
    <remap from="image" to="image_rect_color"/>
  </node>

</launch>
